# Required connection configs for Kafka producer, consumer, and admin
bootstrap.servers=pkc-921jm.us-east-2.aws.confluent.cloud:9092
security.protocol=SASL_SSL
sasl.mechanisms=PLAIN
sasl.username=XP6LOFBINRB4KN5Z
sasl.password=nvAMqflEgHVe9JgN/osACWGtsUwFiQDYNKvWKwMIvFAUpIPsbSReFpkzimcla+Um

# Best practice for higher availability in librdkafka clients prior to 1.7
session.timeout.ms=45000

# Required connection configs for Confluent Cloud Schema Registry
schema.registry.url=https://{{ SR_ENDPOINT }}  # YOU CAN LEAVE THIS AS IS. No need to necessarely replace this value
basic.auth.credentials.source=USER_INFO
basic.auth.user.info={{ SR_API_KEY }}:{{ SR_API_SECRET }} # YOU CAN LEAVE THIS AS IS. No need to necessarely replace these values